{% extends 'listings/main.html' %}{% load static %}
{% block head_inject %}
<link rel="stylesheet" href="{% static 'listings/CSS/legals.css'%}"/>
{% endblock head_inject %}
{% block content %}
<div class = "main-legal-container">
        
    <div class="c">
        <h1 class="text">Mentions Légales</h1>
    </div>

    <div class = "legal-content">

        <div class="content-container">

            <div class="sous-container">

                <p class = "bottom-title">

                    Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site ZETA-PASS-NICE l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.

                </p>

            </div>

            <div class="sous-container">

                <h2>Éditeur :</h2>

                <p class = "bottom-title">

                    Site édité par l'association à but non-lucratif ZETA-PASS-NICE <br> <br>

                    Siège social : 11 Avenue Gloria, Nice - 06200 Nice - France <br> <br>

                    Le directeur de la publication du site zeta-pass-nice.org est Monsieur Pierre Lebret, en qualité de trésorier de l'association ZETA-PASS-NICE.

                </p>

            </div>

            <div class="sous-container">

                <h2>Hébergement :</h2>

                <p class = "bottom-title">

                    Sites hébergés par OVH - SAS au capital de 10 174 560 € <br>
                    RCS : Lille Métropole 424 761 419 00045 <br>
                    Code APE : 2620Z <br>
                    TVA intra-communautaire  : FR 22 424 761 419 <br>
                    Siège social : 2 rue Kellermann - 59100 Roubaix - France <br>

                </p>
            
            </div>

            <div class="sous-container">

                <h2 class = "top-title">Conditions générales d'utilisation du site :</h2>
            
            </div>

            <div class="sous-container">

                <h2>Introduction :</h2>
                
                <p class = "bottom-title">

                    Les présentes mentions légales s’appliquent à toute personne physique qui visite le site web de ZETA-PASS-NICE ou l’un de ses sous domaines : <br> <br>

                    * https://zeta-pass-nice.org/ <br>

                </p>

            </div>

            <div class="sous-container">

                <h2>Informations contenues dans le site :</h2>
                
                <p class = "bottom-title">

                    On entend par contenu du site la structure générale, les textes, les images animées ou non, et les sons dont le site est composé. <br><br>

                    ZETA-PASS-NICE ne saurait garantir l'exactitude, la complétude ou l'actualité des informations diffusées sur le site. ZETA-PASS-NICE met tout en œuvre pour offrir aux utilisateurs des informations et des outils disponibles et vérifiés, mais ne saurait être tenu pour responsable des erreurs, des omissions et/ou d'une absence de disponibilité des informations et des services. <br><br>
                    
                    Toute représentation totale ou partielle de ce site et de son contenu, par quelques procédés que se soient, sans autorisation préalable expresse de ZETA-PASS-NICE, est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du code de la propriété intellectuelle.
                    

                </p>

            </div>

            <div class="sous-container">

                <h2>Accès au site :</h2>
                
                <p class = "bottom-title">

                    Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découler d’une nécessité de maintenance. En cas de modification, interruption ou suspension des services le site https://zeta-pass-nice.org ne saurait être tenu responsable.

                </p>

            </div>

            <div class="sous-container">

                <h2>Collecte de données personnelles :</h2>
                
                <p class = "bottom-title">

                    Des données personnelles vous concernant, font l'objet d'un traitement automatisé conforme au règlement européen (UE) 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel, et à la loi "Informatique, fichiers et libertés" n° 2018-493 du 20 juin 2018.

                    Le responsable du traitement est ZETA-PASS-NICE et les informations recueillies sont destinées à nos services internes et à nos prestataires web. <br><br>

                    Pour plus d’informations, veuillez consulter notre <a href = "{% url 'policy' %}">Politique de Confidentialité</a>. <br> <br>

                    Pour toute question relative à notre Politique de Confidentialité ou pour exercer vos droits, vous pouvez nous contacter via l’adresse suivante : <br> <br> <a href="mailto:contact@zeta-pass-nice.org">contact@zeta-pass-nice.org</a> 

                </p>

            </div>

            <div class="sous-container">

                <h2>Liens hypertextes externes : </h2>
                
                <p class = "bottom-title">

                    Les liens mis en place depuis le site <a href="https://zeta-pass-nice.org">https://zeta-pass-nice.org</a> vers des sites extérieurs ne sauraient engager la responsabilité de ZETA-PASS-NICE notamment au regard du contenu de ces sites mais également des risques techniques. <br><br>

                    Ces sites web disposent de leurs propres conditions d’utilisation, notamment concernant les pratiques de confidentialité ainsi que le traitement des données personnelles, qui peuvent différer de celles de ZETA-PASS-NICE. <br><br>
                    
                    ZETA-PASS-NICE ne prend aucun engagement concernant ces sites web tiers auxquels l’utilisateur peut avoir accès. Nous vous encourageons à lire attentivement les conditions d’utilisation et la politique de confidentialité de tout site web que vous consultez. <br><br>
                    
                    De même, ZETA-PASS-NICE n’est en rien responsable des liens hypertextes susceptibles de pointer sur son site. 
                </p>

            </div>

            <div class="sous-container">

                <h2>Propriété Intellectuelle :</h2>
                
                <p class = "bottom-title">

                    Les créations réalisées par ZETA-PASS-NICE sont protégées au titre du droit d’auteur conformément aux dispositions des livres I à III du code de la propriété intellectuelle. A ce titre, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielles ou intégrales des éléments contenus dans ce site, sans l’autorisation écrite préalable de ZETA-PASS-NICE, est interdite, sous peine de constituer un délit de contrefaçon de droit d’auteur.
                
                </p>

            </div>

            <div class="sous-container">

                <h2>Contact :</h2>
                
                <p class = "bottom-title">

                    Toute personne concernée qui justifie de son identité peut nous demander via l’adresse : <a href="mailto:contact@zeta-pass-nice.org">contact@zeta-pass-nice.org</a> l’accès à ses données personnelles, la rectification, l’effacement de celles-ci, limiter le traitement, s’opposer au traitement et/ou demander la portabilité de ses données personnelles. Toute personne concernée a également le droit d’introduire une réclamation auprès d’une autorité de contrôle.
                
                </p>

            </div>

        </div>

    </div>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}