<!DOCTYPE html> {% load static %}
{% spaceless %}
<html lang = "{{ default_language }}" dir = "ltr">
    <head>
        <meta charset="UTF-8"/>
        <title>{{ default_title }}</title>
        <link rel="preload" href= "{% static 'listings/FONT/poppins_regular.woff2'%}" as="font" type="font/woff2" crossorigin="anonymous"/>
        <link rel="preload" href= "{% static 'listings/FONT/lato_bold.woff2'%}" as="font" type="font/woff2" crossorigin="anonymous"/>
        <style>.main-cookie-popup .cookie-popup-footer button{color:var(--primary) !important;} @font-face{font-family:'Lato';font-display:swap;src:url("/static/listings/FONT/lato_bold.woff2")format('woff2');font-weight:normal;}@font-face{font-family:'Poppins';font-display:swap;font-style:normal;font-weight:normal;src:url("/static/listings/FONT/poppins_regular.woff2")format('woff2');}</style>
        <link rel="stylesheet" href="{% static 'listings/CSS/home.css'%}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script src= "{% static 'listings/JS/swiper.min.js'%}"></script>
        <link rel="stylesheet" href="{% static 'listings/CSS/swiper.min.css'%}">
        <link rel="icon" type="img/ico" href="{% static 'listings/IMG/favicon.ico'%}"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="author" content="&copy; SpunkyDev"/>
        <meta name="copyright" content="© 2024 : spunkydev.com, Inc."/>
        <meta name="language" content="{{ default_language }}"/>
        <meta name="publisher" content="&copy; SpunkyDev"/>
        <meta name="theme-color" content="#00095f"/>
        <meta name="robots" content="index,follow"/>
        <meta name="googlebot" content="index,follow,nosnippet"/>
        <meta name="google" content="notranslate,nositelinkssearchbox"/>
        <meta name="google-site-verification" content=""/>
        <meta name="msvalidate.01" content=""/>
        <meta name="description" content="{{ description }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
        <meta property="og:title" content="ZETA-PASS-NICE"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://zeta-pass-nice.org/"/>
        <meta property="og:image" content="{% static 'listings/IMG/logo.jpeg' %}"/>
        <meta property="og:description" content="Zeta Pass Nice est une association française qui lutte contre la précarité étudiante."/>
        <meta property="og:locale" content="fr"/>
        <meta property="og:site_name" content="ZETA PASS NICE"/>
        <meta property="twitter:site" content="@zeta-pass-nice"/>
        <meta property="twitter:site:id" content="@zeta-pass-nice"/>
        <meta property="twitter:creator" content="@zeta-pass-nice"/>
        <meta property="twitter:creator:id" content="@zeta-pass-nice"/>
        <meta property="twitter:card" content="summary_large_image"/>
        <meta property="twitter:image" content="{% static 'listings/IMG/logo.jpeg' %}"/>
        {% block head_inject %}{% endblock head_inject %}
    </head> 
    <body class = "loading-container min-width-body background-dark">
        <main class = "currently-loading" id = "content">
            <nav>
                <img src="{% static 'listings/IMG/logo.jpeg'%}" alt="" class="logo">
                <label for="click" class="menu-btn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                   <li><a class="active" href="{% url '' %}#">L'association</a></li>
                   <li><a href="{% url '' %}#team">Notre équipe</a></li>
                   <li><a href="{% url '' %}#contact">Contact</a></li>
                   <li><a href="https://www.helloasso.com/associations/zeta-pass-nice/formulaires/1" target="_blank"> Faire un don</a></li>
                </ul>
            </nav>
            <div class="content">
                {% block content %}{% endblock content %}
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col w50">
                                <h4>A propos :</h4>
                                <p>ZETA-PASS-NICE est une association étudiante fondée par 6 étudiants de l'EDHEC. Cette association vise à réduire la précarité étudiante et à faciliter l'accès à la gastronomie & la restauration à travers des réductions significatives pour ses adhérents.</p>
                            </div>
                            <div class="footer-col w40">
                                <h4>Liens importants :</h4>
                                <ul>
                                    <li><a href="https://www.helloasso.com/associations/zeta-pass-nice/formulaires/1" target="_blank">Faire un don</a></li>
                                    <li><a href="{% url 'legal' %}">Mentions Légales</a></li>
                                    <li><a href="{% url 'policy' %}">Politique de confidentialité</a></li>
                                </ul>
                            </div>
                            <div class="footer-col w25">
                                <h4>Nos réseaux :</h4>
                                <div class="social-links">
                                    <a href="https://www.instagram.com/zetapass.nice/" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/company/zeta-pass-nice/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <section class="main-cookie-popup">
                <div class="cookie-popup-content-1">
                    <div class = "cookie-popup-header">
                        <div class="cookie-popup-header-left">
                            <p>Bienvenue Humain !</p>
                            <span>Nous sommes les cookies</span>
                        </div>
                        <div class = "cookie-popup-header-right">
                            <img src="{% static 'listings/IMG/cookie_img.png'%}" class = "cookie-popup-img" alt="Image représentant un cookie (Un vrai).">
                        </div>
                    </div>
                    <div class="cookie-popup-body">
                        <p>ZETA-PASS-NICE mène une <strong>politique zéro tracker</strong>. Cependant, nous sommes forcés de récolter certaines informations qui permettent de vous identifier. Ces informations n'ont aucunement un but commercial. Elles servent uniquement à la sécurité et au bon fonctionnement du site tout en <strong>respectent votre vie privé</strong>.</p>
                    </div>
                    <div class="cookie-popup-footer">
                        <button class="cookie-btn-no">Non merci</button>
                        <a class="cookie-btn-choose" href = "{% url 'policy' %}">En savoir plus</a>
                        <button class="cookie-btn-ok" id = "cookie-btn-ok">D'accord !</button>
                    </div>
                </div>
            </section>
        </main>
        <section class = "main-loader">
            <div class="loader-wrapper" id = "loader">
                <div class="loader">
                    <div class="loader loader--inner"></div>
                </div>
            </div>
        </section>
        <script src="{% static 'listings/JS/main.js'%}"></script>
        {% block script %}{% endblock script %}
    </body>
</html>
{% endspaceless %}